.row
  .large-6.columns
    %h2 Sign up 
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      %div
        %br/
        = f.text_field :name, :autofocus => true, placeholder: "Name"
      %div
        %br/
        = f.email_field :email, placeholder: "Email*"
      %div
        %br/
        = f.password_field :password, placeholder: "Password*"
      %div
        %br/
        = f.password_field :password_confirmation, placeholder: "Confirm Password*"
      %div
        %br/
        = f.text_field :zip, placeholder: "Zip Code*"
      %div
        %br/
        = f.text_field :street_address, placeholder: "Address"
      %div
        %br/
        = f.text_field :street_address_2, placeholder: "Address 2"
      %div
        %br/
        = f.text_field :city, placeholder: "City"
      %div
        %br/
        = f.text_field :state, placeholder: "State"
      %div
        %br/
        = f.text_field :phone_number, placeholder: "Phone Number"
      %div
        * denotes required fields
        %br
        %br
      %h6
        Check box if new or exisiting Lost Tribe's vendor 
        = f.check_box :vendor
        = f.label :vendor
      %div= f.submit "Sign up"

    = render "devise/shared/links"
