.row
  %h1 Events
  - if current_user && (current_user.vendor? || current_user.admin?)
    .large-4.columns
      = form_for @event, remote: true do |f|
        = f.text_field :title, placeholder: 'Title'
        %br
        = f.text_field :date, placeholder: 'YYYY-MM-DD HH:MM:SS EST'
        %br
        = f.text_field :street_address, placeholder: 'Address'
        %br
        = f.text_field :street_address2, placeholder: 'Address 2'
        %br
        = f.text_field :city, placeholder: 'City'
        %br
        = f.text_field :state, placeholder: 'State'
        %br
        = f.text_field :zip_code, placeholder: 'Zip Code (Must be 5 digits!)'
        %br
        = f.text_field :description, placeholder: 'Description'
        %br
        = f.submit id: 'submit', class: 'button success small'
        = f.submit id: 'event-update-submit', class: 'button success small hidden', value: 'Update Event'
        %br
        %br

    / ===================================================================
  .large-8.columns
    Download to: 
    =link_to "CSV | ", events_path(format: "csv") 
    =link_to "Excel", events_path(format: "xls") 
    %table#events
      %thead
        %tr
          %th
            Title
          %th
            Date
          %th.hidden
            Street
          %th.hidden
            Address 2
          %th
            City
          %th
            State
          %th.hidden 
            Zip Code
          %th.hidden
            Details
          - if user_signed_in? && current_user.admin?  
            %th
              Options
      %tbody
        = render partial: '/events/partials/events'
    .event-display
    - if user_signed_in?
      %button.hidden.small#add-to-user 
        =link_to("Register", register_event_path("#{'data-event-id'}"), method: :post, data: current_user)


    = javascript_include_tag 'events'
