- @events.each do |event|
  %tr{:'data-event-id' => event.id}
    %td.event_title
      = link_to event.title, event_path(event)
    %td.event_date
      = event.date
    %td.event_address.hidden
      = event.street_address
    %td.event_address_2.hidden
      = event.street_address2
    %td.event_city
      = event.city
    %td.event_state
      = event.state
    %td.event_zip.hidden
      = event.zip_code
    %td.event_description.hidden
      = event.description
    - if user_signed_in? && current_user.admin?
      %td
        = link_to 'Delete', '#', class: 'event-delete'
        = link_to 'Edit', '#', class: 'event-edit'