!!!
%html
  %head
    %title 
      LostTribes
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "ui-extra", :src => 'http://code.jquery.com/ui/1.10.3/jquery-ui.js'
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    = yield
    :javascript
      skrollr.init();

