!!!
%html
  %head
    %title 
      LostTribes
    = stylesheet_link_tag    "application", :media => "all"
    %link{:href => "./../favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "./../favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render partial: 'layouts/partials/nav'
    %br
    %br
    %p.notice= notice
    %p.alert= alert
    = yield

    :javascript
      skrollr.init();

